body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.secondary, a {
    font-size: 18px;
    color: gray;
} 

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.cta {
    color: #F9FAF8;
    background-color: #3882F6;
}

.button1 {
    background-color: #3882F6;
    border: 5px solid #3882F6;
    color: #F9FAF8;
    border-radius: 2.5px;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    margin-left: 150px;
    padding: 0;
    align-self: flex-start;
    flex: 0 1 auto;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0 15px;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.main, .secondary {
    margin: 0;
    padding: 0;
}

.links ul {
    display: flex;
    margin-right: 15px;
    padding: 0;
    gap: 10px; /* Less space between list items */
}

img {
    max-height: 200px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.random {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.info img {
    max-height: 100px;
    border: 5px solid blue;
    border-radius: 15px;
    vertical-align: middle;
    margin: 15px;
}

.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.info h2{
    font-size: 15px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quote-text {
    margin: 0;
    padding: 50px;
    width: 35%;
    font-size: 25px;
    font-style: italic;
}

.quote-author {
    margin-top: 20px;
    align-self: flex-end;
    width: auto;
    text-align: right;
}

.cta-container {
    background-color: #3882F6;
    color: white;
    margin: 100px 200px;
    padding: 25px 50px 35px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.cta-button {
    border: 1px solid white;
    padding: 10px auto;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
}

.footer {
    padding: 5px;
    font-size: 7.5px;
    text-align: center;
    color: #F9FAF8;
}